<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>NJDOTNET - Directions</title>

    {% include includes/head.inc %}

</head>
<body>
    <div style="width: 956px; margin-left: auto; margin-right: auto;">
        <div style="background-color: #ffffff; border-top: solid 6px #bbde79;">

            {% include includes/banner.inc %}
            {% include includes/navigation.inc %}

            <div>
                <!-- main content table -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>

                        <!-- padding pane -->
                        <td style="width: 10px" valign="top"></td>

                        <!-- main content pane -->
                        <td valign="top" width="100%">
                            <div id="main-content">
                                
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td>
                                            <div style="background-color: #ffffff; margin: 4px; padding: 0px 10px 10px 10px;border: solid; border-width: 1px; border-color: #ffffff; text-align: left;">

                                                <h2>Group Meeting Maps</h2><hr />
                                                <p>
                                                    User group meetings are held in Infragistics corporate headquarters
                                                    located just off Exit 8A of the New Jersey Turnpike in Cranbury, New Jersey.&nbsp; We 
                                                    suggest using Microsoft Bing Maps to get directions to our location</p>
                                                
                                                <p style="color:Red">Note: We have found that other map services incorrectly locate the 
                                                    meeting address several blocks away from actual location, therefore we provide only 
                                                    the link to Bing below.</p>

                                                <p><a href="http://www.bing.com/maps/?v=2&where1=2%20Commerce%20Dr%2C%20Cranbury%2C%20NJ%2008512-3501&encType=1" target="_blank">Bing Maps</a></p>
                                                
                                                <p>The address is:</p>
                                                <p>2 Commerce Drive<br />Cranbury, NJ 08512-3501</p>
                                                                                                
                                            </div>
                                        </td>
                                    </tr>
                                </table>
 
                            </div>
                        </td>

                        <!-- right content -->
                        <td style="background-color: #eff7e0; padding-bottom: 22px; vertical-align: top">
                            <div style="padding: 0px; margin-left: 18px; margin-right: 18px;">
   
                                {% include includes/social.inc %}
                                {% include includes/megaphone.inc %}
 
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        
            {% include includes/footer.inc %}

        </div>
    </div>
</body>

</html>